@page "/DocumentSigning"
@using System.IO;
@using Syncfusion.Blazor.DocumentEditor;
@using Syncfusion.Blazor.Buttons;
@using System.Text.Json;
@inject HttpClient Http



<h3>DocumentSigning</h3>
<SfButton>Save</SfButton>
<SfDocumentEditorContainer Height="700px" Width="1250px" EnableAutoFocus=true EnableToolbar=true></SfDocumentEditorContainer>


@code {

}
